<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338034517906-4r48uvqdtsfhtls6tqo5p7mcn51o6ndp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338034517906-4r48uvqdtsfhtls6tqo5p7mcn51o6ndp</string>
	<key>API_KEY</key>
	<string>AIzaSyCNrvZLpvSM-YhdLL4n2JUfiN3k-oOBOPc</string>
	<key>GCM_SENDER_ID</key>
	<string>338034517906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guanxii.guanxii</string>
	<key>PROJECT_ID</key>
	<string>guanxii-app</string>
	<key>STORAGE_BUCKET</key>
	<string>guanxii-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338034517906:ios:1f5b4369a78347c735834b</string>
</dict>
</plist>